/*@charset "UTF-8";

body{
background-color: #2b7a78;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-variant: light;
padding: 0%;
margin: 0%;
width: 100%;
height: 100%;
position: relative;
z-index: -1;

}*/

body::after{

  background-image: url("https://ak1.picdn.net/shutterstock/videos/3286601/thumb/1.jpg");
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}

h1 {
  font-size: 4vh;
  color: #17252A;
}

h2 {
  font-size: 4vh;
  color: #17252A;
}

h3 {
  font-size: 4vh;
  color: #3AAFA9;
}

h4 {
  font-size: 4vh;
  color: #fff;
}

.loginHeader{
  font-weight: lighter;
  font-size: 6vh;
  margin-bottom: 0vh;
  padding: 0vh;
  line-height: 2vh;
  text-shadow: 1px 1px 0px black;
}

.loginSub{
  font-weight: lighter;
  font-size: 4vh;
  margin-bottom: 0vh;
  text-shadow: 1px 1px 0px black;
}

.loginBox {
  background-color: #17252A;
  width: 55%;
  height: 80%;
  margin-left: 23vw;
  box-shadow: 10px 10px 20px black;
  position: relative;
}

.noteWorthy{
  margin-top: 8vh;
  margin-bottom: 2vh;
  padding-top: 5vh;
  font-weight: lighter;
  color: #2b7a78;
  text-shadow: 1px 1px 0px black;
}

.userInput {
  margin-top: 1vh;
  width: 25vw;
  height: 5vw;
  font-size: 1.736vw;
}

.userInput[type=text]{
  border: #3AAFA9;
  border-radius: 4px;
  background-color: #183844;
}

input[type=text]:focus {
  border: 0.5px solid #3AAFA9;
  border-radius: 4px;
  outline: 0;
}

.userInput[type=password]{
  border: #3AAFA9;
  border-radius: 4px;
  background-color: #183844;
  color-adjust: white;
}

input[type=password]:focus {
  border: 3px solid #555;
  border-radius: 4px;
  outline: 0;
  border: 0.5px solid #3AAFA9;
}

.userInput::placeholder{
  color: #2b7a78;
  padding-left: 5%;
}

.userInputPW[type=submit]{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  color: #3AAFA9;
}

.userInputPW:focus[type=submit]{
  border: none;
  color: white;
  outline: 0;
  position: relative;
}

.userInput[type=submit]{
  border-color: #509693;
  background-color: #3AAFA9;
  margin-top: 20px;
  box-shadow: 10px 10px 20px black;
  cursor: pointer;
  outline: 0;
}

.userInput:hover[type=submit]{
  background-color: #2b7a78;

}
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  background: url(hi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-bar
{
  background-color: #17252A;
  text-align: center;
}

.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: #fff;

}
.menu-bar ul li
{
  width: 120px;
  margin: 15px;
  padding: 15px;
  text-decoration: none;
}

.menu-bar ul li a
{
  color: #fff;
  text-decoration: none;
}

.active, .menu-bar ul li:hover
{
  background-color: #509693;
  border-radius: 3px;
}

.sub-menu-1
{
  display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
  display: block;
  position: absolute;
  background-color: #2b7a78;
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
  width:150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background-color: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last child
{
  border-bottom: none;
}

.fa-angle-right
{
  float: right;
}

.sub-menu-2
{
  display: none;
}

.hover-me:hover .sub-menu-2
{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background-color: #17252A;
}

.form
{
  border: #3AAFA9;
  border-radius: 100px;
  border-style: groove;
  border-width: 50px;
  background-color:#2b7a78;

}
.form-control
{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 16px;

}

contact-form-input
{
  height: 45px;
}

form .submit
{
  border: #3AAFA9;
  border-radius: 4px;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form . submit:hover
{
  background-color: #fff;
  cursor: pointer;
}


.wrapper{
  /* margin-top: 10%; */
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #000000;
  position: relative;
}

.team .team_member h3{
  color: #2b7a78;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

/* Border around image */
.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ccc;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

.mission{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.mission .mission-box{
  background: #2b7a78;
  margin: 5px;
  margin-bottom: 50px;
  width: 1000px;
  height: 300px;
  padding: 20px;
  line-height: 20px;
  color: #fff;
  line-height: 25px;
  position: relative;
  font-size: 20px;
}
