@charset "UTF-8";

body{
  background-color: #2b7a78;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-variant: light;
}

h1 {
  font-size: 4vh;
  color: #17252A;
}

h2 {
  font-size: 4vh;
  color: #17252A;
}

h3 {
  font-size: 4vh;
  color: #3AAFA9;
}

h4 {
  font-size: 4vh;
  color: #DEF2F1;
}

.loginHeader{
  font-weight: lighter;
  font-size: 6vh;
  margin-bottom: 0vh;
  padding: 0vh;
  line-height: 2vh;
}

.loginSub{
  font-weight: lighter;
  font-size: 4vh;
  margin-bottom: 0vh;
}

.loginBox {
  background-color: #17252A;
  width: 80vw;
  height: 35vw;
  margin-left: 8vw;
  box-shadow: 10px 10px 20px black;
  
}

.noteWorthy{
  margin-top: 8vh;
  margin-bottom: 2vh;
  font-weight: lighter;
}

.userInput {
  margin-top: 1vh;
  width: 25vw;
  height: 5vw;
  font-size: 1.736vw;
}

.userInput[type=text]{
  border: #3AAFA9;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 3px solid #555;
  border-radius: 4px;
}

.userInputPW[type=submit]{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  color: #3AAFA9;
}

.userInput[type=submit]{
  background-color: #3AAFA9;
  margin-top: 20px;
  box-shadow: 10px 10px 20px black;
}

.userInput:hover[type=submit]{
  background-color: #2b7a78;
  
}

.backgroundImage{
  height: 100vh;
  width: 100vw;
  border-radius: 100%;
  opacity: 25%;
  position: relative;
  right: 30vw;
  top: -60vh;
}
